@font-face {
  font-family: "iconfont"; /* Project id 2576047 */
  src: url('//at.alicdn.com/t/font_2576047_dhlwv5hqc2q.woff2?t=1622116937944') format('woff2'),
       url('//at.alicdn.com/t/font_2576047_dhlwv5hqc2q.woff?t=1622116937944') format('woff'),
       url('//at.alicdn.com/t/font_2576047_dhlwv5hqc2q.ttf?t=1622116937944') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 22px;
  font-style: normal;
  color: #c0c0c0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toutiao-gengduo:before {
  content: "\e60d";
}

.toutiao-dianzan:before {
  content: "\e60e";
}

.toutiao-dianzan2:before {
  content: "\e60f";
}

.toutiao-pinglun:before {
  content: "\e610";
}

.toutiao-lishi:before {
  content: "\e611";
}

.toutiao-shoucang:before {
  content: "\e612";
}

.toutiao-shanchu:before {
  content: "\e613";
}

.toutiao-shipin:before {
  content: "\e614";
}

.toutiao-guanbi:before {
  content: "\e615";
}

.toutiao-fenxiang:before {
  content: "\e616";
}

.toutiao-shouye:before {
  content: "\e617";
}

.toutiao-sousuo:before {
  content: "\e618";
}

.toutiao-shouji:before {
  content: "\e619";
}

.toutiao-wenda:before {
  content: "\e61a";
}

.toutiao-youjiantou:before {
  content: "\e61b";
}

.toutiao-yanzhengma:before {
  content: "\e61c";
}

.toutiao-wode:before {
  content: "\e61d";
}

.toutiao-yuedu:before {
  content: "\e61e";
}

.toutiao-zuopin:before {
  content: "\e61f";
}

.toutiao-wuwangluo:before {
  content: "\e620";
}
